.content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.golden {
  font-size:1.3rem;
}

.content * { 
  margin-top:1.5rem;
}

.stats {
  background: rgba(0, 0, 0, 0.7);
  padding: 8rem; 
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
