.content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  min-height: 100vh;

  background-image: url('bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  font-weight: 600;
}

.stat {
  display: flex;
  align-items: center;
  font-size: 1.3rem;

}

.stat > p {
  padding-inline: 0.3rem;
  color: goldenrod;
}

.golden {
  font-size:1.3rem;
}

.content * { 
  margin-top:0.5rem;
}

.stats {
  background: rgba(0, 0, 0, 0.7);
  padding: 6rem; 
  margin: 1rem;
  width: 50%;
  font-family: 'Open Sans', sans-serif;
  
}

.singlematch {
  padding: 1rem;
  margin-inline: 0.2rem;
  border:  none;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  color: whitesmoke;
  transition: 1s;
  cursor: pointer;
}

.singlematch:hover {
  transform: scale(1.1);
}

.matches {
  display: flex;
  flex-wrap: wrap;
}

code {
  max-height: 200px;
  color: crimson;
  background-color: #f1f1f1;
  font-size: 100%;
  border-radius: 5px;
  overflow-y: auto;
}

pre {
  max-height: 300px;
  overflow-y: scroll;
  background-color: #f1f1f1;
  max-width: 500px;
}




.understats {
  display: flex;
  justify-content: space-between;
}